# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# import data files
weather_metadata = "my_weather_data.csv"

# Read the weather data
weather_data = pd.read_csv(weather_metadata)

# Combine the data into a single dataframe
weatherdf = pd.DataFrame(weather_data)
weatherdf.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Bonavista,48.6499,-53.1147,58.17,96,100,17.65,CA,1595818800
1,1,Laguna,38.4210,-121.4238,88.32,29,5,12.50,US,1595818800
2,2,Hilo,19.7297,-155.0900,82.53,63,95,15.82,US,1595818800
3,3,Mizdah,31.4451,12.9801,70.47,50,0,2.64,LY,1595818800
4,4,Codrington,-38.2667,141.9667,54.55,74,60,20.40,AU,1595818800

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key = g_key)

In [4]:
# Store 'Lat' and 'Lng' into  locations 
locations = weatherdf[["Latitude", "Longitude"]].astype(float)

hum_rate = weatherdf["Humidity"].astype(float)

In [5]:
# Create a Heatmap layer
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'}
    
fig = gmaps.figure(layout = figure_layout)

heat_layer = gmaps.heatmap_layer(locations, hum_rate)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
crit_temperature = (weatherdf["Max Temp"] < 80) & (weatherdf["Max Temp"] > 70)
crit_windSpeed = weatherdf["Wind Speed"] < 15
crit_cloudiness = weatherdf.Cloudiness == 0
final_criteria = crit_temperature & crit_windSpeed & crit_cloudiness 

# Use boolean indexing to filter the weather_df dataframe
ideal_weather_df = weatherdf[final_criteria]
ideal_weather_df = ideal_weather_df.dropna()
ideal_weather_df = ideal_weather_df.reset_index()
ideal_weather_df.head(10)

,index,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,3,3,Mizdah,31.4451,12.9801,70.47,50,0,2.64,LY,1595818800
1,96,96,Jacareacanga,-6.2222,-57.7528,75.38,54,0,0.56,BR,1595818800
2,111,111,Athens,37.9795,23.7162,77.58,57,0,5.64,GR,1595818800
3,161,161,Mahon,39.8885,4.2658,77.34,74,0,4.09,ES,1595818800
4,167,167,Carnarvon,-24.8667,113.6333,72.34,62,0,4.92,AU,1595818800
5,211,211,Burns Lake,54.2331,-125.7533,77.70,36,0,7.49,CA,1595818800
6,237,237,Alta Floresta,-9.8756,-56.0861,73.80,45,0,3.96,BR,1595818800
7,276,276,Arrondissement de Bastia,42.6667,9.3333,72.97,71,0,4.63,FR,1595818800
8,427,427,Abnūb,27.2696,31.1511,79.63,40,0,9.71,EG,1595818800
9,464,464,Jalu,29.0331,21.5482,77.00,53,0,6.85,LY,1595818800

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df = ideal_weather_df
hotel_df['Hotel Name'] = ""
hotel_df.head()

,index,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,3,3,Mizdah,31.4451,12.9801,70.47,50,0,2.64,LY,1595818800,
1,96,96,Jacareacanga,-6.2222,-57.7528,75.38,54,0,0.56,BR,1595818800,
2,111,111,Athens,37.9795,23.7162,77.58,57,0,5.64,GR,1595818800,
3,161,161,Mahon,39.8885,4.2658,77.34,74,0,4.09,ES,1595818800,
4,167,167,Carnarvon,-24.8667,113.6333,72.34,62,0,4.92,AU,1595818800,

In [8]:
# parameters dictionary to update each iteration
parameters = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "Hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify hotels
for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]

    # change location each iteration while leaving original params in place
    parameters["location"] = f"{lat},{lng}"

    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=parameters)
    

    # convert to json
    name_address = name_address.json()

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
hotel_df

Missing field/result... skipping.
Missing field/result... skipping.

,index,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,3,3,Mizdah,31.4451,12.9801,70.47,50,0,2.64,LY,1595818800,فندق مزدة الكبير
1,96,96,Jacareacanga,-6.2222,-57.7528,75.38,54,0,0.56,BR,1595818800,HOTEL DA TANIA
2,111,111,Athens,37.9795,23.7162,77.58,57,0,5.64,GR,1595818800,"Hotel Grande Bretagne, a Luxury Collection Hot..."
3,161,161,Mahon,39.8885,4.2658,77.34,74,0,4.09,ES,1595818800,Casa Ládico Boutique Hotel
4,167,167,Carnarvon,-24.8667,113.6333,72.34,62,0,4.92,AU,1595818800,Carnarvon Hotel
5,211,211,Burns Lake,54.2331,-125.7533,77.70,36,0,7.49,CA,1595818800,Key-oh Lodge
6,237,237,Alta Floresta,-9.8756,-56.0861,73.80,45,0,3.96,BR,1595818800,Hotel Mandino
7,276,276,Arrondissement de Bastia,42.6667,9.3333,72.97,71,0,4.63,FR,1595818800,Hôtel Restaurant La Roya
8,427,427,Abnūb,27.2696,31.1511,79.63,40,0,9.71,EG,1595818800,
9,464,464,Jalu,29.0331,21.5482,77.00,53,0,6.85,LY,1595818800,Jalu Hotel
10,482,482,Mahon,39.8885,4.2658,77.34,74,0,4.09,ES,1595818800,Casa Ládico Boutique Hotel
11,531,531,Tiznit Province,29.5833,-9.5000,75.29,51,0,2.59,MA,1595818800,

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [12]:
# Add marker layer ontop of heat map
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'}
    
fig = gmaps.figure(layout = figure_layout)

# Create hotel symbol layer
hotel_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)


# Add layer
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)
# Display figure
#fig.savefig('vacationheatmap_hotels.png')
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…